/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
::-webkit-scrollbar {width: 10px;height: 10px;}
::-webkit-scrollbar-track {background: #000;}
::-webkit-scrollbar-thumb {background: #6e7074;border-radius: 2px;}
::-webkit-scrollbar-thumb:hover {background: #dedede;}
html, body {
    margin: 0;
    font-family: Oswald,Arial,sans-serif;
}
.frame1 {
    margin-top: 100px;
}
.storyline-menu {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgb(253,219,39);
}
.storyline-menu > .logo {
    display: block;
    position: absolute;
    right: 40px;
    top: 0px;
    width: 100px;
    height: 100px;
    background: url(../img/favicon.png) 50% no-repeat transparent;
    background-size: auto 100%;
    cursor: pointer;
    filter: drop-shadow(0px 5px 0px rgba(253,219,39,0.5));
    transition: transform 0.1s linear;
}
.storyline-menu > .logo:hover {
    transform: scale(1.2);
}
.storyline-menu > .logo:active {
    transform: scale(0.8);
}
.storyline-menu > div {
    width: auto;
    display: inline-block;
    padding: 20px;
    color: #333;
    cursor: pointer;
}
.storyline-menu > div.active {
    color: #000;
    -webkit-box-shadow: 0px 4px 0px 0px rgb(0,177,210);
    box-shadow: 0px 4px 0px 0px rgb(0,177,210);
}
.footer {
    width: 100%;
    text-align: center;
    height: 400px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.deco {
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 20;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.deco:before, .deco:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ccc;
    -webkit-box-shadow: 40px 0px 0px #ccc, 0px 40px 0px #ccc, 0px 80px 0px #ccc, 0px 120px 0px #ccc, 40px 40px 0px #ccc, 40px 80px 0px #ccc, 40px 120px 0px #ccc;
    box-shadow: 40px 0px 0px #ccc, 0px 40px 0px #ccc, 0px 80px 0px #ccc, 0px 120px 0px #ccc, 40px 40px 0px #ccc, 40px 80px 0px #ccc, 40px 120px 0px #ccc;
    border-radius: 50%;
    opacity: 0.4;
}
.deco:after {
    left: 80px;
}
.deco.active {
    -webkit-transition: -webkit-transform 2s linear;
    transition: -webkit-transform 2s linear;
    -o-transition: transform 2s linear;
    transition: transform 2s linear;
    transition: transform 2s linear, -webkit-transform 2s linear;
    -webkit-transform: scale(3) rotate(45deg);
    -ms-transform: scale(3) rotate(45deg);
    transform: scale(3) rotate(45deg);
}
.deco.pulse {
    -webkit-animation: deco-pulse 5s linear infinite;
    animation: deco-pulse 5s linear infinite;
}
@-webkit-keyframes deco-pulse {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1.6);
        transform: rotate(180deg) scale(1.6);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
@keyframes deco-pulse {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(180deg) scale(1.6);
        transform: rotate(180deg) scale(1.6);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(0.8);
        transform: rotate(360deg) scale(0.8);
    }
}
[class^=frame] {
    width: 100%;
    background: #fff;
    color: #333333;
    height: 600px;
    margin-bottom: 0px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2em;
}
[class^=frame] > span {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
[class^=frame]:nth-child(2n) {
    background: #333;
    color: #ffffff;
}
.code {
    margin-top: 40px;
    background: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
    display: inline-block;
    white-space: pre;
    position: relative;
    min-height: 100px;
    overflow: hidden;
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 400px;
    font-size: 0.5em;
    -webkit-box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    z-index: 11;
}
.code .func {
    color: yellow;
}
.code .prop {
    color: lightblue;
}
.code .val {
    color: orange;
}
.code .var {
    color: lightgreen;
}
.code .comment {
    color: #ccc;
}
[class^=frame]:nth-child(2n) .code {
    background: #111;
}